* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  font-size: 16px;
}
nav ul{
  display: flex;
  justify-content: space-between;
}
nav li {
  display: inline-flex;
  justify-content: space-between;
  outline: 1px solid #000;
  padding: .3em;
}

nav li:hover {
  background-color: #000;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
  margin-top: 10px;
}

.title {
  text-align: center;
  font-size: 30px;
  color: gray;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.explanation {
  padding: 0 15px 0 15px;
  width: 30%;
  line-height: 25px;
}

.explanation a {
  text-decoration: none;
  font-weight: bold;
}

#cover {
  min-height: 500px;
  background-image: url('../images/CSS-intro.jpg');
  background-size: cover;
  background-position: center;
}

#cover1 {
  min-height: 500px;
  background-image: url('../images/css-fonts.jpg');
  background-size: cover;
  background-position: center;
}

#cover2 {
  min-height: 500px;
  background-image: url('../images/box-model.png');
  background-size: cover;
  background-position: center;
  width: 60%;
  margin: auto;
}

footer {
  background-color: gray;
  color: white;
  height: 60px;
  text-align: center;
  padding-top: 5px;
}

.explanation ul {
  margin: 0;
  padding: 0;
}

.explanation ul li {
  display: inline-block;
  padding: 0 30px 0 30px;
  font-weight: bold;
}
