* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  font-size: 16px;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}

.title {
  text-align: center;
}
